version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    versioning-strategy: increase
    labels:
      - 'pr: dependencies'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    labels:
      - 'pr: dependencies'
