name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/lint.yml@main

  test:
    uses: stylelint/.github/.github/workflows/test.yml@main
    with:
      node-version: '["lts/*"]'
